@import compass/reset
@import compass/css3

@import font-awesome/font-awesome
@import url("http://fonts.googleapis.com/css?family=Open+Sans")

$email-color:      #0a88ff
$facebook-color:   #306199
$twitter-color:    #26c4f1
$gplus-color:      #e93f2e
$pinterest-color:  #b81621
$instagram-color:  #664018
$youtube-color:    #df1c31

$box-max-width: 140px
$box-max-height: 40px