!!!
%html

  %head
    %title Ridiculously Responsive Social Buttons!

    %link{:rel      => "stylesheet",
          :type     => "text/css",
          :charset  => "utf-8",
          :href     => "stylesheets/main.css"}

    %script{:type => "text/javascript",
            :src  => "//code.jquery.com/jquery-latest.min.js"}

    %script{:type => "text/javascript",
            :src  => "javascript/main.js"}

  %body
    .socialbuttons

      .socialbox.email
        %i{:class =>"fa fa-fw fa-lg fa-envelope-o"}
        Email

      .socialbox.facebook
        %i{:class =>"fa fa-fw fa-lg fa-facebook-square"}
        Facebook

      .socialbox.twitter
        %i{:class =>"fa fa-fw fa-lg fa-twitter"}
        Twitter

      .socialbox.gplus
        %i{:class =>"fa fa-fw fa-lg fa-google-plus"}
        Google +
      
      .socialbox.pinterest
        %i{:class =>"fa fa-fw fa-lg fa-pinterest"}
        Pinterest

      .socialbox.instagram
        %i{:class =>"fa fa-fw fa-lg fa-instagram"}
        Instagram
     
      .socialbox.youtube
        %i{:class =>"fa fa-fw fa-lg fa-youtube"}
        Youtube